<section>

    <h2> Create Account </h2>
</div>



    <form class="form-control" id='createAccount' method="POST" action="/auth/signup"  enctype="multipart/form-data" >

        <div class="signup" id="profileType">

       <span id="userType"> 
            <label>User  </label>
            <input type="radio" name="profileType" value="fan"/> 
        </span>
        <span id="userType"> 
            <label>Artist</label>
            <input   type="radio" name="profileType" value="artist"/>
        </span>
        </div>
         
    
        <div class="groupTwo signup">
            <label>First Name</label>
            <input class="form-control"type="text" name="firstName"/>
        </div>
    
        <div class="groupTwo signup">
            <label>Last Name</label>
            <input class="form-control" type="text" name="lastName" />
        </div>
    
        <div class="groupTwo signup">
            <label>Email Address</label>
            <input class="form-control" type="email" name="emailAddress"/>
        </div>
   
        <div class="groupTwo signup">
            <label class="groupTwo">Password</label>
            <input class="form-control" type="password" name="password"/>
        </div>
<div class="groupThree signup">
<label>Artist/Band Name</label>
<input class="form-control" type="text" name="bandName"/>

</div>


<div class="groupThree signup">
    <label>Bio</label>
    <textarea  row="50" cols="25"class="form-control" name="bio"></textarea>
</div>

<fieldset class="groupThree signup">
    <legend>Genres</legend>
    <div>
        <input type="checkbox"  name="genres" value="ancepop">
        <label  for="dancepop">Dance Pop</label>
      
   
      <input  type="checkbox"  name="genres" value="indiepop">
      <label for="indiepop">Indie Pop</label>
    
   
        <input  type="checkbox"  name="genres" value="teenpop">
        <label for="teenpop">Teen Pop</label>
      
        <input  type="checkbox"  name="genres" value="rock">
        <label for="rock">Rock</label>
     
    
        <input  type="checkbox"  name="genres" value="Hip-Hop">
        <label for="Hip-Hop">Hip-Hop</label>
      
     
        <input   type="checkbox"  name="genres" value="rnb">
        <label for="rnb">RnB</label>
    
        <input type="checkbox"  name="genres" value="reggae">
        <label for="reggae">Reggae</label>
     
    
        <input type="checkbox"  name="genres" value="metal">
        <label for="metal">Metal</label>
      
     
        <input  type="checkbox"  name="genres" value="metal">
        <label for="hip-hop">Drum & Bass</label>
    
        <input  type="checkbox"  name="genres" value="house">
        <label for="house">Electro House</label>
     
    
        <input  type="checkbox"  name="genres" value="soul">
        <label for="metal">Soul</label>
      
     
        <input type="checkbox"  name="genres" value="folk">
        <label for="folk">Folk & Acoustic</label>
   
        <input  type="checkbox"  name="genres" value="country">
        <label for="Country">Country</label>
     
    
        <input type="checkbox"  name="genres" value="metal">
        <label for="metal">Metal</label>
      
     
        <input type="checkbox"  name="genres" value="dance">
        <label for="dance">Dance/Electronic</label>
    
        <input   type="checkbox"  name="genres" value="indie">
        <label for="indie">Indie </label>
     
    
        <input   type="checkbox"  name="genres" value="Ukgarage">
        <label for="UKgargae">UK Garage</label>
      
     
        <input  type="checkbox"  name="genres" value="grime">
        <label for="grime">Grime</label>
    
        <input   type="checkbox"  name="genres" value="dubstep">
        <label for="dubstep">Dubstep </label>
     
    
        <input  type="checkbox"  name="genres" value="alternative">
        <label for="alternative">Alternative</label>
      
     
        <input  type="checkbox"  name="genres" value="britpop">
        <label for="britpop">Brit Pop</label>
    
  </fieldset>
  
 

<div class="groupTwo signup input-group-prepend">
    <label  for="image"> Upload Profile Picture</label><br>
    <input  type="file" id="image" name="image">
</div>


<div class="signup">
    <button  class="btn btn-primary" type= "submit"> Create Profile </button>
</div>

</form> 
    

</section>