<section>

    <h1> Create Account </h1>
</div>


    <form  id="createAccount" method="POST" action="/auth/signup"  enctype="multipart/form-data" >

        <div class="groupOne">
            <label>Fan</label>
            <input class="sign-up" type="radio" name="profileType" value="fan"/>
            <label>Artist</label>
            <input class="sign-up" type="radio" name="profileType" value="artist"/>
        </div>
         
    
        <div class="groupOne">
            <label>First Name</label>
            <input type="text" name="firstName"/>
        </div>
    
        <div class="groupOne">
            <label>Last Name</label>
            <input type="text" name="lastName" />
        </div>
    
        <div>
            <label class="groupOne">Email Address</label>
            <input type="email" name="emailAddress"/>
        </div>
   
        <div>
            <label class="groupOne">Password</label>
            <input type="password" name="password"/>
        </div>
<div class="groupTwo">
<label>Artist/Band Name</label>
<input type="text" name="bandName"/>

</div>

<div class="groupTwo">
<label>Genres:</label>

<select type="checkbox" name="genres" multiple>
<option value="dnb">Alternative</option>
  <option value="rock">Rock</option>
  <option value="pop">Indie Rock</option>
  <option value="hiphop">Hip-Hop</option>
  <option value="rnb">R&B</option>
  <option value="dnb">Drum and Bass</option>
</select>
</div>

 
<div class="groupTwo">
    <label>Bio</label>
    <textarea  name="bio"></textarea>
</div>

<div class="groupOne">
    <label for="image"> Profile Picture</label>
    <input type="file" id="image" name="image">
    </div>


<button type= "submit"> Create Profile </button>

</form> 
    

</section>