<div class="title">Update Password</div>
<form class="form-container" method="POST" action="/auth/updatepassword">
  <div class="form-group">
    <label class="label" for="exampleInputPassword1"> Old Password</label>
    <input type="password" class="form-control" name="oldPassword" id="exampleInputPassword1" placeholder="" />
  </div>

  <div class="form-group">
    <label class="label" for="exampleInputPassword1"> New Password </label>
    <input type="password" class="form-control" name="newPassword" id="exampleInputPassword1" placeholder="" />
  </div>

  <div class="form-group">
    <label class="label" for="exampleInputPassword1"> confirm Password </label>
    <input type="password" class="form-control" name="confirmPassword" id="exampleInputPassword1" placeholder="" />
  </div>
  <br />
  <button type="submit" class="btn btn-info">Update Password</button>
</form>