body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.user-nav-pic {
  width: 50px;
  height: 50px;
}
.title {
  background-color: white;
  height: 100px;
  font-size: 60px;
  margin: 10px auto;
  border: 4px solid #f5f5f7;
  border-radius: 4px;
}
.sub-title {
  background-color: white;
  font-size: 32px;
  margin: 10px auto;
  border: 4px solid #f5f5f7;
  border-radius: 4px;
}

.filters {
  width: 300px;
  position: absolute;
  margin: 20px;
  padding-right: 20px;
  border-right: 4px solid #f5f5f7;
}

.filter-title {
  background-color: #f5f5f7;
  border: none;
  border-radius: 4px;
}

.gen {
  background-color: black;
}
.nav {
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 9999;
  font-size: 22px;
  background-color: #f5f5f7;
}

.nav-item-signout {
  color: #898989;
}

a {
  font-style: bold;
  all: unset;
}

.profile-pic {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.record {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 100px;
  margin: 0 auto;
}

.dropdown {
  width: 95%;
}

.form {
  padding: 10px;
  margin-top: 10px;
  color: black;
}

input {
  color: black;
}

.artists-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists {
  display: flex;
  flex-direction: row;
}

.genres {
  display: flex;
  flex-direction: row;
}

.genre {
  margin-right: 5px;
}

span {
  margin-left: 5px;
}

.bookmark {
  width: 40px;
  margin: 0 auto;
  background-color: #5bc0de;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 4px;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 300px;
  width: 100%;
  height: 100px;
  background-color: #f5f5f7;
}

li {
  display: inline;
  margin: 0px 40px 0px 40px;
}

svg {
  width: 42px;
  height: 42px;
}

.signin-form {
  width: 250px;
  margin: 20px auto;
  margin-bottom: 40px;
}
.body {
    background-color: red;
}
#eventartist {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-profile-pic {
  margin-top: 20px;
}

.user-info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.user-pic {
  width: 200px;
  height: 200px;
}

.user-info-list {
  padding: 10px;
  text-align: left;
}

.user-info-list-artist {
  padding: 10px;
  text-align: left;
}

img {
  height: 250px;
  width: 300px;
  margin: 10px;
}
.category-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.category-card {
  background-color: #f5f5f7;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 10px;
}

.category-card:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
  transform: scale(1.05);
  font-weight: bold;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

.card-body {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.artist-img {
  height: 400px;
  width: 400px;
}

.artist-detail-page {
  width: 80%;
  margin: 0 auto;
}

.artist-detail {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 10px;
  width: 100%;
  justify-content: center;
}

.artist-detail-sub-title {
  background-color: #f5f5f7;
  font-size: 32px;
  margin: 10px auto;
  border: 4px solid #f5f5f7;
  border-radius: 4px;
}

#profileType {
  text-align: center;
  font-size: 25px;
}

#userType {
  padding: 25px;
}

#artistaccount {
  margin-top: 25px;
  width: 10%;
  text-align: justify;
}

#bandName {
  color: #88888c;
}

.event-detail-image {
  padding: 25px;
  height: 450px;
  width: 450px;
}

.page {
  margin: 75px auto;
  border: none;
  border-radius: 4px;
  width: 60%;
  font-size: 22px;
  padding-bottom: 50px;
  background-color: #f5f5f7;
}

.bio {
  width: 50%;
  margin: 0 auto;
}

.artist-page-grid-container {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 10px 10px;
  background-color: #f5f5f7;
}

#userType {
  padding: 25px;
}

.signup {
  padding: 15px;
  text-align: left;
}

#artistaccount {
  margin-top: 25px;
  width: 10%;
  text-align: justify;
}

.accountbtn {
  background: #f5f5f7;
  border: none;
  width: 200px;
}

.genres {
  padding: 3px;
  font-weight: bold;
  font-size: 15px;
}

.card {
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  width: 22rem;
  height: 26rem;
  border: none !important;
  box-shadow: 0px 4px 5.5px 0px #f5f5f7;
}
.card:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
  transform: scale(1.02);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}
.card-body {
  padding: 25px 35px !important;
}
.card-img-top {
  /* float: left; */
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.card-body {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.card-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.687);
  overflow: hidden !important;
  max-width: 55ch !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.form-container {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}

.form-container-profile {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}

.label {
  font-weight: bold;
}
