body, html {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: 'Inter', sans-serif;
}

.user-nav-pic {
  width: 50px;
  height: 50px;
}
.ibento {
  font-size: 90px;
  margin: 0;
}
.title {
  background-color: white;
  height: 100px;
  font-size: 40px;
  margin: 10px auto;
  border-top: 4px solid #e6e9ec;
  border-radius: 4px;
}
.sub-title {
  background-color: white;
  font-size: 30px;
  margin: 10px auto;
  border-radius: 4px;
}

.filters {
  position: absolute;
font-size: 12px;
width: 240px;
left: 80px;
/* display: flex;
justify-content: center; */
}

.filter-title {
  background-color: #e6e9ec;
  border: none;
  border-radius: 4px;
}
.filter-btn {
  background-color: black;
  color: white;
}

.filter-section {
  border: 1px solid #e6e9ec;
  padding: 5px 20px;
  border-radius: 4px;
  margin: 0 4px;
}

.filter-label {
  font-weight: bolder;
}

/* #form1 {
  display: none;
} */

.gen {
  background-color: black;
}
.nav {
  display: flex;
  align-items: center;
  padding: 5px;
  left: 100px;
}

.nav-item-signout {
  color: #898989;
}

a {
  all: unset;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
} 

.search-form {
  width: 800px;
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.form-field  {
  width: 800px;
}

.search-btn {
  margin-left: 10px;
  width: 80px;
}
a:hover {
  font-weight: bold;
  color: black;
  cursor:pointer;
}
.profile-pic {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.record {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 72px;
  margin: 0 auto;
}

.dropdown {
  width: 95%;
}

.form {
  padding: 10px;
  margin-top: 10px;
  color: black;
}

input {
  color: black;
}

.artists-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists {
  display: flex;
  flex-direction: row;
}

.genres {
  display: flex;
  flex-direction: row;
}

.genre {
  margin-right: 5px;
}

span {
  margin-left: 5px;
}

.bookmark {
  width: 40px;
  margin: 0 auto;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 4px;
}

footer {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 400px;
  width: 100%;
  height: 100px;
}

li {
  display: inline;
  margin: 0px 40px 0px 40px;
}

svg {
  width: 24px;
  height: 24px;
}

.signin-form {
  width: 250px;
  margin: 20px auto;
  margin-bottom: 40px;
}
.body {
    background-color: red;
}
#eventartist {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-profile-pic {
  margin-top: 20px;
}

.user-info {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.user-pic {
  width: 200px;
  height: 200px;
}

.user-info-list {
  padding: 10px;
  text-align: left;
}

.user-info-list-artist {
  padding: 10px;
  text-align: left;
}

img {
  height: 250px;
  width: 300px;
  margin: 10px;
}
.category-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.category-card {
  background-color: #e6e9ec;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 10px;
}

.category-card:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
  transform: scale(1.05);
  font-weight: bold;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

.card-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-body {
  position: absolute;
  margin: 0 auto;
  font-size: 12px;
  
}
.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.artist-img {
  height: 400px;
  width: 400px;
}

.artist-detail-page {
  width: 80%;
  margin: 0 auto;
}

.artist-detail {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 10px;
  width: 100%;
  justify-content: center;
}

.artist-detail-sub-title {
  background-color: #e6e9ec;
  font-size: 32px;
  margin: 10px auto;
  border-top: 4px solid #e6e9ec;
  border-radius: 4px;
}

#profileType {
  text-align: center;
  font-size: 25px;
}

#userType {
  padding: 25px;
}

#artistaccount {
  margin-top: 25px;
  width: 10%;
  text-align: justify;
}

#bandName {
  color: #88888c;
}

.event-detail-image {
  padding: 25px;
  height: 450px;
  width: 450px;
}

.page {
  margin: 75px auto;
  border: none;
  border-radius: 4px;
  width: 60%;
  font-size: 22px;
  padding-bottom: 50px;
}

.bio {
  width: 50%;
  margin: 0 auto;
}

.artist-page-grid-container {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  padding: 10px 10px;
  background-color: #e6e9ec;
}

#userType {
  padding: 25px;
}

.signup {
  padding: 15px;
  text-align: left;
}

#artistaccount {
  margin-top: 25px;
  width: 10%;
  text-align: justify;
}

.accountbtn {
  background: #e6e9ec;
  border: none;
  width: 200px;
}

.genres {
  padding: 3px;
  font-weight: bold;
  font-size: 15px;
}

.card {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  width: 14rem;
  min-height: 15rem;
  border: none !important;
  box-shadow: 0px 4px 5.5px 0px #e6e9ec;
}

.card:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
  transform: scale(1.02);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

.card-body {
  padding: 5px;
}

.card-img-top {
  max-width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.card-title {
  font-weight: 600;
  margin-top: 20px;
}

.form-container {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}

.form-container-profile {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}
/* 
.label {
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
} */

