
<h1>Create Profile</h1>

<form method="POST" action="/artist/add">

    <div>
        <label> Artist/Band Name</label>
        <input type="text" name="bandName"/>
    </div>


<div>
    <label>Genres:</label>
    
 <select type="checkbox" name="Genres" multiple>
    <option value="dnb">Alternative</option>
      <option value="rock">Rock</option>
      <option value="pop">Indie Rock</option>
      <option value="hiphop">Hip-Hop</option>
      <option value="rnb">R&B</option>
      <option value="dnb">Drum and Bass</option>
    </div>
    </select>
     

    <div>
        <label>Bio</label>
        <textarea  name="Bio"></textarea>
    </div>
    
    <label for="image">Upload Profiel Picture</label>
    <input type="file" id="image" 
           name="image">
</div>
    

    <button  type= "submit"  > Create Profile </button>
 
</form>