<!-- created basic grid on views index page to render the Artist date -->

<h1>Artist Index</h1>

<div class="grid-container">
    <% artist.forEach(function(artist) { %> 
<div class="grid-section">
   <img src="../image/<%=artist.user[0].image%>">
    <h3><%=artist.bandName%></h3>
    <% for(let i=0 ;i< artist.genres.length; i++){%>
        <p>
         #<%=artist.genres[i]%>
        
        </p>
        <% } %>
    
        <% if(currentUser) { %> 
            <a href="/artist/detail?id=<%=artist._id%>" >Artist Profile</a>
          
            <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>
        
        <% } else { %>
           
        <% } %>

</div>
<% }) %> 
</div>

