<!-- created basic grid on views index page to render the Artist date -->

<h1>Artist Index</h1>

<div class="grid-container">
    <% artist.forEach(function(artist) {     %> 
<div class="grid-section">
   <img src="../image/<%=artist.user[0].image%>">
    <h3><%=artist.bandName%></h3>
    <p>#<%=artist.genres%></p>

  
    <a href="/artist/detail?id=<%=artist._id%>" >Artist Profile</a>
</div>
<% }) %> 
</div>

