
 <h1>Create Event </h1>       
        
 <form  class="form-control" id="createAccount" method="POST" action="/event/add"  enctype="multipart/form-data" >
      <div>
            <label>Event Name</label>
            <input  class="form-control"type="text" name="name"/>
        </div>
    
        <div>
            <label>Event Venue</label>
            <input class="form-control" type="text" name="venue" />
        </div>
         

        <div>
            <label>Address Line 1 </label>
            <input class="form-control"type="text" name="addressLine1" />
        </div>
    
        <div>
            <label>City </label>
            <input class="form-control" type="text" name="city" />
        </div>
    
        
        <div>
            <label>Postcode </label>
            <input  class="form-control" type="text" name="postcode" />
        </div>
    
        <div>
            <label>Date and Time </label>
            <input  class="form-control" type="datetime-local" name="date" />
        </div>

        
<div>
 
    <fieldset >
        <legend>Line-Up</legend>
        <div>
            <% artist.forEach(function(artist) {     %> 
                <% for(let i=0 ;i< artist.user.length; i++){ %> 
                    <% if(artist.user.length === 0 ){ %>
                    <% } %>
                    <% if(artist.user.length > 0 ){ %>
            <input type="checkbox"  name="artist[]" value="<%= artist._id %>">
            <label><%= artist.bandName %></label>
                    <% } %>
                    <% } %>
        </div>
                     <% }) %>
</fieldset>
        <div>
            <label>Event Details </label>
            <textarea class="form-control" type="textarea" name="description"></textarea>
        </div>
         
        <div>
            <label for="eventPhoto"> Event Image</label>
            <input class="form-control"  type="file" id="eventPhoto" name="eventPhoto">
        </div>
        
        <div>
            <input name='user' type='hidden'  value="<%= currentUser._id %>">
        </div>

        <button class="btn btn-primary" type= "submit"> Create Event </button>
        
</form> 