<div class="title">Create an Event </div>
<form class="form-container" method="POST" action="/event/add" enctype="multipart/form-data">
  <div class="form-group">
    <label class="label">Event Name</label>
    <input class="form-control" type="text" name="name" />
  </div>

  <div class="form-group">
    <label class="label">Event Venue</label>
    <input class="form-control" type="text" name="venue" />
  </div>


  <div class="form-group">
    <label class="label">Address Line 1 </label>
    <input class="form-control" type="text" name="addressLine1" />
  </div>

  <div class="form-group">
    <label class="label">City </label>
    <input class="form-control" type="text" name="city" />
  </div>


  <div class="form-group">
    <label class="label">Postcode </label>
    <input class="form-control" type="text" name="postcode" />
  </div>

  <div class="form-group">
    <label class="label">Date and Time </label>
    <input class="form-control" type="datetime-local" name="date" />
  </div>

  <fieldset>
    <label class="label">Line-Up</label>
    <div class="form-group">
      <% artist.forEach(function(artist) { %>
      <% for(let i=0 ;i< artist.user.length; i++){ %>
      <% if(artist.user.length===0 ){ %>
      <% } %>
      <% if(artist.user.length> 0 ){ %>
      <input type="checkbox" name="artist[]" value="<%= artist._id %>">
      <label>
        <%= artist.bandName %>
      </label>
      <% } %>
      <% } %>
    </div>
    <% }) %>
  </fieldset>
  <div class="form-group">
    <label class="label">Event Details </label>
    <textarea class="form-control" type="textarea" name="description"></textarea>
  </div>

  <div class="form-group">
    <label class="label" for="eventPhoto"> Event Image</label>
    <input class="form-control" type="file" id="eventPhoto" name="eventPhoto">
  </div>

  <div class="form-group">
    <input name='user' type='hidden' value="<%= currentUser._id %>">
  </div>
  <br />
  <button class="btn btn-info" type="submit"> Create Event </button>
</form>